{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
</head>
<body>
    <h1>COMFYBOOK</h1>
    <h6>convenience alongside comfortable rides</h6>
    <div class="navbar">
        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'login' %}">LOGIN</a></li>
                <li><a href="{% url 'aboutus' %}">ABOUT US</a></li>
                <li><a href="{% url 'services' %}">SERVICES</a></li>
                <li><a href="{% url 'contactus' %}">CONTACT US</a></li>
        </ul>
    </div>
    <p>Welcome to COMFYBOOK Transit Services, your premier destination for convenient and reliable transportation booking services. We are dedicated to making your travel experiences seamless and enjoyable, providing you with a hassle-free way to book various modes of transportation with just a few clicks.</p>
	<p>At COMFYBOOK Transit Services, we understand the importance of reliable transportation when it comes to your travel plans. Whether you're a frequent traveler or someone who needs transportation services occasionally, we are here to meet your needs. Our platform connects you with a wide range of transportation options, including taxis, ride-sharing services, car rentals, and more. We partner with trusted and reputable transportation providers to ensure that you have access to safe and comfortable rides.</p>
	<p>Our mission is to simplify the way you book transportation. We believe that planning your journey should be effortless, allowing you to focus on enjoying your trip rather than worrying about logistics. With our user-friendly website and mobile app, you can easily browse available transportation options, compare prices, and make secure bookings at your convenience. We strive to offer competitive rates and flexible options to cater to your budget and preferences.</p>
	<p>Customer satisfaction is at the core of everything we do. Our dedicated support team is available 24/7 to assist you with any queries or concerns you may have. We value your feedback and continuously work to improve our services to meet and exceed your expectations. Your trust and satisfaction are our driving forces.</p>
	<p>As a responsible transportation booking platform, we prioritize safety and security. We partner with licensed and insured transportation providers who adhere to strict safety regulations. Your well-being during your journey is of utmost importance to us, and we take all necessary measures to ensure your safety and comfort.</p>
	<p>Whether you're planning a business trip, a family vacation, or a night out in the city,COMFYBOOK Transit Services is your reliable companion for all your transportation needs. We are committed to delivering a seamless booking experience, providing you with convenience, reliability, and peace of mind.</p>
	<p>Thank you for choosing COMFYBOOK. We look forward to being a part of your travel adventures!</p>  
</body>
</html>