{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME PAGE</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/booking.css' %}">
   
</head>
<body>
    <header class="navbar">
        <h1>COMFYBOOK</h1>
        <h6>convenience alongside comfortable rides</h6>
    </header>
    
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'login' %}">LOGIN</a></li>
                <li><a href="{% url 'aboutus' %}">ABOUT US</a></li>
                <li><a href="{% url 'services' %}">SERVICES</a></li>
                <li><a href="{% url 'contactus' %}">CONTACT US</a></li>
                
            </ul>
        </nav>
 <h2>TRIPS</h2>
 <table border="1">
 <tbody>
    {% for each in tripinfo %}
    <tr>
    <td>{{each.routes}}</td>
    <td>{{each.durations}}</td>
    <td>{{each.distances}}</td>
    <td>{{each.prices}}</td>
    
    </tr>
    {% endfor %}
</tbody> 
</table>  
        
</body>
</html>