{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li class="bus"><a href="{% url 'home' %}">HOME</a></li>
            <li class="bus"><a href="{% url 'login' %}">LOGIN</a></li>
            <li class="bus"><a href="{% url 'aboutus' %}">ABOUT US</a></li>
            <li class="bus"><a href="{% url 'services' %}">SERVICES</a></li>
            <li class="bus"><a href="{% url 'contactus' %}">CONTACT US</a></li>
            
        </ul>
       </div> 
   <h1>COMFYBOOK SERVICES</h1> 
   <p>Welcome to our Services page, where we take pride in offering a comprehensive range of transportation solutions to meet your needs. Whether you're traveling for business or pleasure, our goal is to provide a seamless and enjoyable experience from start to finish. Discover the services we offer below:</p>
	<ul>
		<li><p>City Tours:</p>
			<p>Experience the best a city has to offer with our city tour services. Our knowledgeable guides will take you on a journey through the most iconic landmarks, cultural attractions, and hidden gems of the city. Sit back, relax, and let us show you the sights while providing interesting insights and historical information.<p></li>
		<li>
			<p>Corporate Transportation:</p>
			<p>For all your corporate transportation needs, we offer reliable and professional services. Whether it's attending business meetings, conferences, or corporate events, our fleet of executive vehicles is at your disposal. Arrive in style and make a lasting impression with our premium transportation services tailored to meet the demands of the business world.</p>
		</li>	
		<li>
			<p>Special Occasions:</p>
			<p>Make your special occasions even more memorable with our specialized transportation services. Whether it's a wedding, anniversary, birthday celebration, or any other milestone event, our dedicated team will ensure every detail is taken care of. From luxurious buses to spacious vans, we have the perfect vehicle to match your style and make your event extraordinary.</p>
		</li>
		<li>
			<p>Hourly Charters:</p>
			<p>If you require transportation on an hourly basis, our charter services are the perfect choice. Whether it's for business meetings, shopping trips, or exploring a new city, our flexible and convenient hourly charters provide you with the freedom and comfort you need. Enjoy personalized service and have a dedicated driver at your disposal for the duration of your chosen time frame.</p>
		</li>	
		<li>
			<p>Group Transportation:</p>
			<p>Traveling with a group? Our group transportation services are designed to accommodate large parties comfortably and efficiently. Whether it's a family vacation, corporate outing, or group excursion, we have a range of vehicles to suit your needs. Sit back, relax, and enjoy the journey while we take care of the logistics.</p>
		</li>
		<li>
			<p>Bus Transportation</p>
			<p>Start your journey on the right foot with our reliable and efficient airport transfer services. We offer convenient transportation to and from preferred destinations, ensuring you reach your destination safely and on time. Our professional drivers will greet you with a warm welcome, assist with your luggage, and provide a comfortable ride to your desired location.</p>
		</li>
		<li>
			<p>At COMFYBOOK, we are committed to delivering exceptional service and ensuring your satisfaction. Our team of experienced professionals is dedicated to providing a seamless and enjoyable transportation experience for every customer. Book your next trip with us and experience the difference firsthand.</p>
		</li>
		<li>
			<p>Please contact us for further information, inquiries, or to make a reservation. We look forward to serving you and making your travel experience a memorable one.</p>
		</li>
	</ul>

</body>
</html>